# Data files (too large for GitHub)
*.wav
*.mp3
*.flac
*.nemo
*.ckpt
*.pt
*.bin

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Conda
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
wandb/
lightning_logs/
